<ul class="event-list clearfix">
  {{#each meetups}}
    <li>
      <article class="event module">
        <h3 class="event-title event-section"><a href="{{event_url}}">{{name}}</a></h3>

        <div class="event-section event-content">
          {{#if display_description}}
            <p class="event-description">{{{display_description}}}</p>
          {{/if}}

          <p class="event-attendance">
            {{#if waitlist_count}}
              <span class="event-waitlist"><b>{{waitlist_count}}</b> waiting</span>
            {{/if}}
            <span><b>{{yes_rsvp_count}}</b> attending</span>
          </p>

          {{#with venue}}
            <div class="event-location">
              <h4 class="event-location-content event-location-heading">
                <a href="https://www.google.com/maps?q={{address_1}}, {{city}}, {{state}}">
                  {{name}}
                </a>
              </h4>

              <p class="event-location-content">
                {{address_1}},

                {{#if address_2}}
                  {{address_2}},
                {{/if}}

                {{city}}, {{state~}}
              </p>
            </div>
          {{/with}}
        </div>

        <time class="event-time" datetime="{{data_time}}">{{display_date}}, <b>{{display_time}}</b></time></p>
      </article>
    </li>
  {{/each}}
</ul>
